
@{
    ViewBag.Title = "TermsOfUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="termsofuse">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="counter_section">
                <div class="slider_overlay"></div>
                <div class="container">
                    <div class="counter_area">
                        <div class="heading text-center">
                            <h2 class="wow fadeInRightBig white">GENERAL TERMS AND CONDITIONS OF SERVICE</h2>
                        </div>

                        <div class="heading text-center">
                            <h3>GENERAL PROVISIONS</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 1.</h3>
                            <p>
                                General Terms and Conditions govern and determine the use of all web sites and other media that make up <i>betskiller.com</i>.
                                <br />
                                Terms and conditions are available at <i>betskiller.com/terms-and-conditions</i> (hereinafter Portal).
                                <br />
                                All mutual rights and obligations regarding the provision and use of services and other content via the website <i>betskiller.com</i> (hereinafter Services) are available.
                                <br />
                                These terms apply to all users of the portal <i>betskiller.com</i>.
                                <br />
                                It will be considered that during your first access and early use of betskiller.com you are familiar with their content and fully understand and agree to your rights and obligations regarding the use of services provided by <i>betskiller.com</i>.
                                <br />
                                <i>BY REGISTERING AN ACCOUNT WITH US (CLICKING "I ACCEPT" BELOW), OR USING THE SERVICES, YOU: (A) ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS IN THEIR ENTIRETY; (B) AGREE TO BE BOUND BY THE TERMS; AND (C) ARE AUTHORIZED AND ABLE TO ACCEPT THESE TERMS</i>.
                                <br />
                                If you do NOT agree to any of the provisions of these General Terms and Conditions, please do not use <i>betskiller.com</i>.
                            </p>
                        </div>

                        <div style="color: white">
                            <h3>Article 2.</h3>
                            <p>
                                Company seeks to continuously ensure the quality, accuracy and timeliness of data and services on the Portal.
                                <br />
                                Responsibility of Betskiller.com for any inconvenience or damage to users caused by possible incorrect, insufficient or in any way inappropriate data or services on <i>betskiller.com</i>, is entirely excluded.
                                <br />
                                Users are not guaranteed the accuracy of data and other services on betskiller.com. Any information and content of the announcements, forecasts, statistics, odds, and the results and their offer, as well as other information available to <i>betskiller.com</i> are for information only and are not binding in any way.
                                <br />
                                Information on <i>betskiller.com</i> are published in good faith and are result of media content and other reliable and public available informative sources.
                                <br />
                                Special regulations about which users will be informed in appropriate manner are applicable on using particular services.
                            </p>
                        </div>

                        <div style="color: white">
                            <h3>Article 3.</h3>
                            <p>
                                We reserve the right of unilaterally changing and supplementing  the provisions of these Terms of use anytime and without previous announcement, about which users will be timely informed by appropriate announcement on <i>betskiller.com</i>.
                                <br />
                                The obligation of users is to follow the possible revisions and amendments of the Terms of use thus informing themselves of the latter.
                                <br />
                                It will be considered that users are after revisions and amendments of Terms of use by using <i>betskiller.com</i> fully informed about its content and accept them thereafter.
                                <br />
                                In addition, we reserve the right to change the content, appearance or location of <i>betskiller.com</i> and others services, unilaterally, in any manner, at any time and without previous announcement.
                                <br />
                                <br />
                                We exclude responsibility for damage that can eventually happen to users or third persons related with changes described in this paragraph.
                            </p>
                        </div>

                        <br />
                        <br />

                        <div class="heading text-center">
                            <h3>TERM USER AND "IP" ADDRESS</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 4.</h3>
                            <p>
                                User is considered to be every person who uses the site <i>betskiller.com</i> regardless of whether they use free sites or or sites that require subscription. User is consider to be every natural, adult person with legal capacity and every other business entity, natural person who performs economic activity and natural person who is engaged in free profession."IP" address is considered a unique numerical computer code on the Internet.
                            </p>
                        </div>

                        <br />
                        <br />

                        <div class="heading text-center">
                            <h3>PORTAL OFFER</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 5.</h3>
                            <p>
                                Offer of <i>betskiller.com</i> is consisted of providing information about announcements, prognosis, statistics, exchange rates and results. User is offered <i><strong style="color: red">basic service and subscription</strong></i>.
                            </p>
                        </div>

                        <div style="color: white">
                            <h3>Article 6.</h3>
                            <p>
                                Basic service is free and fundamental service that provides use and all functionalities <i>betskiller.com</i> offers and which is not marked as service whose use is paid and which is not limited by timeframe.
                                <br />
                                Every service available to user regardless of subscription is considered basic service.
                            </p>
                        </div>

                        <div style="color: white">
                            <h3>Article 7.</h3>
                            <p>
                                Service of subscription is a service that is charged. The service of subscription is acquired by registration on site <i>betskiller.com</i>.
                                By registration user acquires the right of information about announcments, prognosis, statistics, exchange rates and results which is not available to other users who use basic services of <i>betskiller.com</i>.
                            </p>
                        </div>

                        <br />
                        <br />

                        <div class="heading text-center">
                            <h3>REGISTRATION OF USER</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 8.</h3>
                            <p>
                                During registration on site <i>betskiller.com</i> user is obliged to use his real name and surname. In case that user is a business entity, registration can be done on site exclusively with the real name and surname and with personal identification number of natural person indicated by the legal subject as rights holder.
                                <br />
                                Natural person user can use just one user account. Every natural person of the subscribed business entity accessing the content must have their own, different user account, respectively every natural person of the subscribed business entity accessing the content must have correct subscription which can be paid by the business entity, otherwise <i>betskiller.com</i> has a right to abolish the subscription without right to a refund, according to free evoluation without additional explanation or attestation.
                            </p>
                        </div>

                        <div style="color: white">
                            <h3>Article 9.</h3>
                            <p>
                                <i>Betskiller.com</i> keeps the right to restrict and abolish the access to <i>betskiller.com</i> to one or all users from just one "IP" address daily and keeps the right to restrict and abolish the possibility of using user account or one or more services to which user is registered without special announcement. 
                                <br />
                                Once paid the subscription can not be canceled nor refund required.
                                <br />
                                <i>Betskiller.com</i> does not takes responsibility for damage caused by abolished user account or one or more abolished services for which the user is registered.
                            </p>
                        </div>

                        <div style="color: white">
                            <h3>Article 10.</h3>
                            <p>
                                In order to register, every registered user is obliged to be acquainted with these Terms of use, including the registration rules, to carry out the process of registration, to enter the correct, complete and true data and to choose user name and password. By registratering every user gets his own user account.
                                <br />
                                It is not allowed to use inappropriate user names, specially offensive or vulgar names or terms. Such user names and profiles will be deleted without prior notification. <i>Betskiller.com</i> does not takes responsibility for protection and preservation of passwords nor for safety of users' accounts, that is exclusively responsibility and duty of the registered user.
                                <br />
                                Registration of users is exclusively possible with acceptance of these Terms of use and thier consent for gathering, processing and using of personal information accordant with valid legislation and regulations of Terms of use based on protection of privacy.  
                            </p>
                        </div>

                        <div style="color: white">
                            <h3>Article 11.</h3>
                            <p>
                                Each user is required to protect information about their own user account and bears responsibility for possible damage caused and/or endured by their own fault, or caused and/or endured by other users or third parties, and in connection with unauthorised acces and/or use or any other misuse of their user account.
                                <br />
                                User is to notify <i>betskiller.com</i> immediately in case of unauthorized access and/or use or any other misuse of his user profile. The termination of registration does not end responsibility of the user for possible violations committed and / or damages caused during the term of their registration.
                                <br />
                                When registering users express their consent to receive announcements, notifications, ads, messages and other communications, regardless of their nature (normative, informative, commercial, etc.), intended for <i>betskiller.com</i> users, especially regarding administration or their use of the Services, directed by <i>betskiller.com</i>.
                            </p>
                        </div>

                        <br />
                        <br />

                        <div class="heading text-center">
                            <h3>PRICES AND METHOD OF PAYING</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 12.</h3>
                            <p>
                                Subscription services rates are an integral part of these Terms of use and <i>betskiller.com</i> is obliged to publish them on the website <i>betskiller.com</i>. Payment can be done by <i>skrill.com</i> and <i>paypal.com</i> service.
                                <br />
                                All transactions, authorization and payment of credit cards are possible only through the portal (<i>skrill.com</i> or <i>paypal.com</i>), and through those credit cards that support <i>skrill.com</i> or <i>paypal.com</i> and in accordance with their general conditions.
                                <br />
                                <br />
                                In this regard <i>betskiller.com</i> will not be liable for any transactions made and related personal data protection, as well as the authorization of the same. When paying the subscription by credit card through skrill.com or paypal.com the user has fully accepted the general conditions stipulated at the relative web portal.
                            </p>
                        </div>

                        <br />
                        <br />

                        <div class="heading text-center">
                            <h3>INTERNET SITES OF THIRD PERSONS</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 13.</h3>
                            <p>
                                <i>Betskiller.com</i> may contain links to other Internet sites, as well as to third party websites. The latter will be specially and appropriately marked so that they differ from <i>betskiller.com</i> websites.
                                <br />
                                Publication of other websites on <i>betskiller.com</i> does not mean to affirm, approve, recommend, promote or otherwise support available information, allegations of fact expressed views, opinions or conclusions on these websites.
                                <br />
                                We do not control or supervise the content available on the websites of <i>betskiller.com</i>, and take no responsibility for their accuracy, truthfulness, origin, content or availability. Given the above, we are not responsible for any damage that might be caused in connection with the publication, by removing or using any part of the website <i>betskiller.com</i> or relying on any content available via the website <i>betskiller.com</i>.
                            </p>
                        </div>

                        <br />
                        <br />

                        <div class="heading text-center">
                            <h3>COPYRIGHT AND OTHER  INTELECTUAL PROPERTY RIGHTS</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 14.</h3>
                            <p>
                                Services available at <i>betskiller.com</i> in any form, and especially texts, photos, paintings, drawings, diagrams, graphs, audio and video materials, etc., are protected by copyright and other intellectual property rights in accordance with applicable law.
                                <br />
                                All users bear their own responsibility for their own use, as well as for possible damages and / or abuse of copyright and other intellectual property rights in respect of services provided, in accordance with applicable law and the provisions hereof.
                                <br />
                                It is not allowed contrary to the express prohibition or without the prior written permission of <i>betskiller.com</i>, for commercial purposes: download, reproduce, copy, distribute, rent, lease to use, publish, transmit to unauthorized third parties or the general public or in any other way use the services and / or content posted on <i>betskiller.com</i>.
                            </p>
                        </div>

                        <br />
                        <br />

                        <div class="heading text-center">
                            <h3>PRIVACY POLICY</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 15.</h3>
                            <p>
                                Personal data is considered to be any information relating to an identified natural person or a person who can be identified, directly or indirectly, in particular on the basis of one or more factors specific to thier physical, psychological, mental, economic, cultural or social identity (eg. name and last name, address, phone number, email address, etc.).
                                <br />
                                <i>Betskiller.com</i> will collect and process personal data of users on the website and use them in accordance with these privacy protection provisions.
                                <br />
                                The purpose of collecting personal data of users is to provide and improve service quality.
                            </p>
                        </div>

                        <div style="color: white">
                            <ins><h3>Type od personal data</h3></ins>
                        </div>

                        <div style="color: white">
                            <h3>Article 16.</h3>
                            <p>
                                The type of data that <i>betskiller.com</i> can collect for a particular purpose, with respect to the registration of users and the provision of certain services are: name, surname, name, personal identification number, address, email address, phone number, gender, date of birth, photographs, videos, texts, and bank account numbers.
                            </p>
                        </div>

                        <div style="color: white">
                            <ins><h3>The purpose and method of collection and use of personal data</h3></ins>
                        </div>

                        <div style="color: white">
                            <h3>Article 17.</h3>
                            <p>
                                User’s personal data are processed on the basis of the consent of the users. We will ask for the user’s consent to the collection or processing of their personal data when completing the appropriate form published on the website of <i>betskiller.com</i>.
                                <br />
                                Personal data will be used in the purpose of providing these services and responding to user queries, which are related to services provided by <i>betskiller.com</i>.
                                <br />
                                The collected data will be stored in electronic form with the use of all measures and procedures to protect against unauthorized access to information and to protect personal data, as well as the regularity of use of the data.
                            </p>
                        </div>

                        <div style="color: white">
                            <ins><h3>Announcement and delivery of personal data to third persons</h3></ins>
                        </div>

                        <div style="color: white">
                            <h3>Article 18.</h3>
                            <p>
                                Personal data are not sent to third parties, except in the case of the user's explicit consent and on the basis of legal obligations, both in and outside of the Republic of Croatia.
                            </p>
                        </div>

                        <br />
                        <br />

                        <div class="heading text-center">
                            <h3>CHANGE AND  DELETION  OF PERSONAL DATA</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 19.</h3>
                            <p>
                                On the basis of legal authority every user has at any time the right to request modification or deletion of some or all of their personal data, based on the contact form.
                            </p>
                        </div>

                        <br />
                        <br />

                        <div class="heading text-center">
                            <h3>EXCLUSION AND LIMITATION OF LIABILITY FOR DAMAGES</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 20.</h3>
                            <p>
                                All services and information provided on <i>betskiller.com</i> are provided exclusively as they are available, therefore <i>betskiller.com</i> is not responsible for any consequences, including damage caused to users or third parties, which may arise from their interpretation, use and so on.
                                <br />
                                <i>Betskiller.com</i> does not guarantee, express or implied, that all services and information will always be available and accessible, and will not contain errors, viruses and other computer programs which might cause damage to users or third parties. Every user agrees to use the service at their own risk.
                            </p>
                        </div>

                        <div style="color: white">
                            <h3>Article 21.</h3>
                            <p>
                                The responsibility for any damage which users and / or third parties cause and / or experience related to joining <i>betskiller.com</i>, especially by the use or misuse of information services, which are available on <i>betskiller.com</i>, or due to their damage or loss, as well as in respect of irregular, incorrect or unauthorized use is excluded.
                                <br />
                                The liability for damages which users and / or third parties cause and / or experience related to the use of websites of third persons access to which is enabled via <i>betskiller.com</i> or regarding the use and / or misuse of information, functionality, and services other content available through such third person's websites is excluded.
                                <br />
                                The liability for damages caused to users and / or third parties due to changes of these General Terms and Conditions, the specific conditions of use of certain internet pages within <i>betskiller.com</i>, and the appearance and content of <i>betskiller.com</i>, including the elimination or removal of certain services, information or other materials is excluded.
                                <br />
                                The liability for damages caused to users and / or third parties due to temporary unavailability of <i>betskiller.com</i> or temporary inability of user access to certain websites, services, interactive contents, links and / or possible other materials, services, functionalities or information, or individual user profiles or data within the Portal is excluded.
                            </p>
                        </div>

                        <br />
                        <br />

                        <div class="heading text-center">
                            <h3>FINAL PROVISIONS</h3>
                        </div>

                        <div style="color: white">
                            <h3>Article 22.</h3>
                            <p>
                                These General Terms and Conditions are applicable from 10.04.2016. and are valid until new General Terms and Conditions are issued.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>