@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<div class="text-center">
    <br />
    <br />
    <h2 class="login-box-msg">Error.</h2>
    <br />
    <div class="alert alert-error">
        An unexpected error has occurred. Please contact the system administrator (info@betskiller.com).
    </div>
    <br />
    <br />
    <a href="/" class="btn btn-info btn-large">Go back</a>
</div>