<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!-- BetsKiller.API.Erikberg -->
    <add key="Erikberg_host" value="https://erikberg.com/" />
    <add key="Erikberg_apiToken" value="b10c8f03-6200-49f4-9374-fe0962898147" />
    <add key="Erikberg_userAgentInfo" value="devBot/1.0.0 (mamic.ivica@gmail.com)" />
    
    <!-- BetsKiller.API.SportsDatabase -->
    <add key="SportsDatabase_queryUrl" value="http://sportsdatabase.com/{sport}/query?" />

    <!-- BetsKiller.API.NBAcom -->
    <add key="NBAcom_news_rss" value="http://www.nba.com/rss/nba_rss.xml"/>
    <add key="NBAcom_powerrankings_rss" value="http://www.nba.com/powerrankings/rss.xml"/>

    <!-- BetsKiller.API.Rotoworld -->
    <add key="Rotoworld_injuries_nba" value="http://www.rotoworld.com/teams/injuries/nba/all/"/>
    <add key="Rotoworld_news_players_nba" value="http://www.rotoworld.com/rss/feed.aspx?sport=nba&amp;ftype=news&amp;count=10&amp;format=rss"/>

    <!-- Email configurations -->
    <add key="MailPort" value="25" />
    <add key="MailHost" value="betskiller.com" />
    <add key="MailServiceUsername" value="services@betskiller.com" />
    <add key="MailServicePassword" value="s3rv1c3b3t" />
    <add key="MailService" value="services@betskiller.com" />
    <add key="MailInfo" value="info@betskiller.com" />
    
  </appSettings>
  <connectionStrings>
    <add name="BetsKiller.DAL.AppData.AppDataContext" connectionString="Data Source=VERAN-PC;Initial Catalog=betskiller_app;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="BetsKiller.DAL.UserManagement.UserManagementContext" connectionString="Data Source=VERAN-PC;Initial Catalog=betskiller_users;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>