<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- BetsKiller.API.Erikberg -->
    <add key="Erikberg_host" value="https://erikberg.com/" />
    <add key="Erikberg_apiToken" value="7b8f8e25-d4fc-41bf-ab6d-35e4b546309b" />
    <add key="Erikberg_userAgentInfo" value="devBot/1.0.0 (mamic.ivica@gmail.com)" />
    <!-- BetsKiller.API.SportsDatabase -->
    <add key="SportsDatabase_queryUrl" value="http://sportsdatabase.com/{sport}/query?" />
    <!-- Email configurations -->
    <add key="MailPort" value="25" />
    <add key="MailHost" value="betskiller.com" />
    <add key="MailServiceUsername" value="services@betskiller.com" />
    <add key="MailServicePassword" value="s3rv1c3b3t" />
    <add key="MailService" value="services@betskiller.com" />
    <add key="MailInfo" value="info@betskiller.com" />
  </appSettings>
  <connectionStrings>
    <add name="BetsKiller.DAL.AppData.AppDataContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=betskiller_app;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>