@{
    ViewBag.Title = "Confirmation sent";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<div class="text-center">
    <br/>
    <br />
    <br />
    <h2 class="login-box-msg">Confirmation Email Sent.</h2>
    <br />
    <br />
    <p style="color:white; font-size: large">Please check your email and confirm your email address.</p>
    <br />
    <br />
    <a href="@Url.Action("Index", "Home")" class="btn btn-info btn-large">Go back</a>
</div>