@{
    ViewBag.Title = "Password forgot sent";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h2 class="login-box-msg">Email with password reset link sent.</h2>
    <br />
    <br />
    <p style="color:white; font-size: large">Please check your email and click on link to reset password.</p>
    <br />
    <div class="alert alert-error">
        If you do not receive the confirmation message within a few minutes, please check your <b>Spam</b>/<b>Junk</b>/<b>Trash</b> folder just in case the confirmation email got delivered there instead of your inbox.
        <br />
        If so, select the confirmation message and click Not Spam, which will allow future messages to get through.
        <br />
        If not, please contact us and we will help you (info@betskiller.com).
    </div>
    <br />
    <a href="@Url.Action("Index", "Home")" class="btn btn-info btn-large">Go back</a>
</div>