<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- BetsKiller.API.Erikberg -->
    <add key="Erikberg_host" value="https://erikberg.com/" />
    <add key="Erikberg_apiToken" value="c8dc4ee0-8e65-4b1c-9120-cf995fc75065" />
    <add key="Erikberg_userAgentInfo" value="devBot/1.0.0 (mamic.ivica@gmail.com)" />
    <!-- Email configurations -->
    <add key="MailPort" value="25"/>
    <add key="MailHost" value="185.58.74.139"/>
    <add key="MailService" value="service@betskiller.com"/>
    <add key="MailServiceUsername" value="service@betskiller.com"/>
    <add key="MailServicePassword" value="s3rv1c3b3tsk1ll3r"/>
    <add key="MailInfo" value="info@betskiller.com"/>
  </appSettings>
  <connectionStrings>
    <add name="BetsKiller.DAL.AppData.AppDataContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=betskiller_app;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>